<a href="https://colab.research.google.com/github/priyavarsha06/priyavarsha06/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.

In [ ]:
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.

In [ ]:
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).

In [ ]:
x="priya"
type(x)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)

In [ ]:
x=int(input("enter the first number: "))
y=int(input("enter the second number: "))
print(x+y)
print(x-y)
print(x*y)
print(x/y)

enter the first number: 6
enter the second number: 12
18
-6
72
0.5

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.

In [ ]:
x="123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)

In [ ]:
x=input("enter the string:")
x[0]

enter the string:priya

'p'

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)

In [ ]:
x=input("enter the string:")
len(x)

enter the string:priya

5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.

In [ ]:
x=input("enter the string:")
x.isalpha()

enter the string:priya20

False

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)

In [ ]:
x=input("enter the first string:")
y=input("enter the second string:")
x+y

enter the first string:priya
enter the second string:varsha

'priyavarsha'

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)

In [ ]:
x=input("enter the string:")
subs="abc"
x.find(subs)

enter the string:lkjhgfabs

-1

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)

In [ ]:
x=input("enter the string:")
print("uppercase:",x. upper())
print("lower:", x.lower())

enter the string:priya varsha
uppercase: PRIYA VARSHA
lower: priya varsha

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)

In [ ]:
x=input("enter the string:")
y=input("enter the character:")
x.count(y)

enter the string:priya varsha
enter the character:a

3

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)

In [ ]:
x=input("enter your name: ")
print(f"hello, {x}, good morning!")

enter your name: priya
hello, priya, good morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.

In [ ]:
x=int(input("enter the first number:"))
y=int(input("enter the second number:"))
x+y

enter the first number:8
enter the second number:9

17

In [ ]:
#Write a Python program to  format and display a string containing the user's name and age. (User input required)

In [ ]:
x=input("enter the your name:")
y=int(input("enter your age:"))
print(f"{x} is {y} years old.")

enter the your name:priya
enter your age:20
priya is 20 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.

In [ ]:
x=float(input("enter the value"))
if x > 0:
  print("the value is positive")
elif x < 0:
  print("the value is negitive")
else:
  print("the value is zero")

enter the value-9
the value is negitive

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)

In [ ]:
x=int(input("enter the first numeber:"))
y=int(input("enter the second number:"))
z=int(input("enter the third number:"))
if x>y and x<z:
  print(x, "is the maximum number")
elif(y>x and y>z):
  print(y, "is the maximum number")
else:
  print(z, "is the maximum number")

enter the first numeber:3
enter the second number:4
enter the third number:5
5 is the maximum number

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

In [ ]:
year = int(input("Enter a year: "))

if (year % 4 == 0 and year % 100 != 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

Enter a year: 2005
2005 is not a leap year

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

In [ ]:
x= int(input("enter a number:"))
if x % 3 ==0 and x%5==0:
  print(x, "is divisible by both 3 and 5")
else:
  print(x,"is not divisble by 3 and 5")

enter a number:34
34 is not divisble by 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)

In [ ]:
x=input("enter the string:")
y=x[::-1]
if x==y:
  print("x is a palindrome")
else:
  print("x is not a palindrome")

enter the string:madam
x is a palindrome

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.

In [ ]:
for i in range(1,11):
   print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.

In [ ]:
for i in range(1,20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
i=2
while i<=20:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)

In [ ]:
x=int(input("enter the number:"))
for i in range(1,11):
  print(x, "*", i ,"=", x*i)

enter the number:3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)

In [ ]:
x=int(input("enter a positive integer: "))
y=0
z=1
while z<=x:
  y=y+z
  z=z+1
print("the sum of numbers from 1 to", x , "is",y)

enter a positive integer: 5
the sum of numbers from 1 to 5 is 15

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)

In [ ]:
x=int(input("enter a positive number"))
y=1
z=1
while z<=x:
  y=y*z
  z=z+1
print("the factorial of",x, "is ", y)

enter a positive number4
the factorial of 4 is  24

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)

In [ ]:

n = int(input("Enter the number of terms: "))
a, b = 0, 1

# Print the Fibonacci sequence
for _ in range(n):
  print(a, end=" ")
  a, b = b, a + b

Enter the number of terms: 5
0 1 1 2 3

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.

In [ ]:
print("Prime numbers from 1 to 100:")
for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

In [ ]:
for i in range(1, 100):
    if i > 50:
        print(f"Breaking out of the loop at {i}")
        break
    print(i)
i = 1
while i < 100:
    if i > 50:
        print(f"Breaking out of the loop at {i}")
        break
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Breaking out of the loop at 51
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
Breaking out of the loop at 51

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.

In [ ]:
for i in range(1, 21):
  if i % 2 != 0:
    print(i)

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

In [ ]:
x=input("enter the string:" )
y=input("enter the character:")
count=0
for i in x:
  if i==y:
    count+=1
    print(count)

enter the string:priya varsha
enter the character:a
1
2
3

In [ ]:
#  for the numberWrite a Python program to calculate the sum of digits of a number. (User input)

In [ ]:
x=input("enter the number:")
y=0
for i in x:
  y+=int(i)
  print(y)

enter the number:899
8
17
26

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

In [ ]:
x=[2,3,4,5,6]
sum(x)

20

In [ ]:
# Write a Python program to find the largest element in a list.

In [ ]:
x=[2,3,4,5,6]
max(x)

6

In [ ]:
# Write a Python program to reverse a list.

In [ ]:
x=[1,2,3,4,5]
x[::-1]

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [ ]:
x=[1,2,3,4,5,6]
x.remove(3)
x

[1, 2, 4, 5, 6]

In [ ]:
# Write a Python program to find the index of an element in a list.

In [ ]:
my_list = [10, 20, 30, 40, 50]
element_to_find = 30
    index = my_list.index(element_to_find)
    print(f"The index of {element_to_find} is: {index}")

The index of 30 is: 2

In [ ]:
# Write a Python program to find if a specific element exists in a list.

In [ ]:
my_list = [10, 20, 30, 40, 50]
element_to_find = 30

if element_to_find in my_list:
    print(f"{element_to_find} is present in the list")
else:
    print(f"{element_to_find} is not present in the list")

30 is present in the list

In [ ]:
# Write a Python program to remove duplicates from a list.

In [ ]:
x= [1,2,2,3,4,4,5]
list(set(x))
x

[1, 2, 2, 3, 4, 4, 5]

In [ ]:
# Write a Python program to count the occurrences of an element in a list.

In [ ]:
x=[1,2,2,3,3,3,4,5,6]
x.count(3)

3

In [ ]:
# Write a Python program to get the number of even numbers in a list.

In [ ]:
x=[1,2,3,4,5,6,78,9]
count=0
for i in x:
  if i%2==0:
    count+=1
    print(count)

1
2
3
4

In [ ]:
# Write a Python program to create a tuple and print it.

In [ ]:
x=(1,2,3,4,5,6)
x

(1, 2, 3, 4, 5, 6)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
x=(1,2,3,4,5,6)
list(x)

[1, 2, 3, 4, 5, 6]

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:
x=(1,2,3,4,5,6,7,8,9)
print(max(x))
print(min(x))

9
1

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
x=(10,11,12,13)
a,b,c,d=x
print(a)
print(b)
print(c)
print(d)

10
11
12
13

In [ ]:
# Write a Python program to add an element to a set and check if an elem ent exists in the set.

In [ ]:
x={1,2,3}
x.add(6)
if 6 in x:
  print("6 is present in the set")
else:
  print("6 is not present in the set")

6 is present in the set

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Print the dictionary
print(my_dict)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Access the value using the key
name = my_dict["name"]

# Print the value
print("Name:", name)

Name: Alice

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Check if the key "name" exists
if "name" in my_dict:
    print("The key 'name' exists in the dictionary")
else:
    print("The key 'name' does not exist in the dictionary")

The key 'name' exists in the dictionary

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

# Merge the dictionaries using the update() method
dict1.update(dict2)

# Print the merged dictionary
print("Merged dictionary:", dict1)

Merged dictionary: {'a': 1, 'b': 3, 'c': 4}

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c':3}
removed_value = my_dict.pop('b', None)
print("Updated dictionary:", my_dict)
print("Removed value:", removed_value)

Updated dictionary: {'a': 1, 'c': 3}
Removed value: 2

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
my_dict = {'a': 1, 'b': 2, 'c': 3}
num_keys = len(my_dict)
print("Number of keys:", num_keys)

Number of keys: 3

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

In [ ]:
my_dict = {'a': 10, 'b': 5, 'c': 20, 'd': 15}
largest_value = max(my_dict.values())
smallest_value = min(my_dict.values())
print("Largest value:", largest_value)
print("Smallest value:", smallest_value)

Largest value: 20
Smallest value: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
def square(x):

  return x * x

# Example usage:
result = square(5)
print(result)

25

In [ ]:
x=int(input("enter the number:"))
def square(x):
  return x*x
print(square(x))

enter the number:7
49

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
x=int(input("enter the first number:"))
y=int(input("enter the second number"))
def sum(x,y):
  return x+y
print(sum(x,y))

enter the first number:5
enter the second number5
10

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
def is_prime(number):
  if number <= 1:
  for i in range(2, int(number**0.5) + 1):
    if number % i == 0:
      return False

  return True
number = 17
if is_prime(number):
  print(f"{number} is a prime number.")
else:
  print(f"{number} is not a prime number.")

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-1-23a3cfef5803>, line 3)

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
def power(base, exponent):

  if exponent == 0:
    return 1
  elif exponent < 0:
    return 1 / power(base, -exponent)
  else:
    return base * power(base, exponent - 1)

result = power(2, 3)
print(result)

8

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
def list_length(my_list):

  count = 0
  for _ in my_list:
    count += 1
  return count
my_list = [1, 2, 3, 4, 5]
length = list_length(my_list)
print(length)

5

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
def sum_positional_args(*args, **kwargs):

  total = sum(args)
  print("Sum of positional arguments:", total)

# Example usage:
sum_positional_args(1, 2, 3, a=4, b=5)

Sum of positional arguments: 6

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
def find_maximum(num1=0, num2=0):

  return max(num1, num2)
result1 = find_maximum(num1=10, num2=5)
print(result1)

result2 = find_maximum(num2=12, num1=8)
print(result2)

result3 = find_maximum()
print(result3)

10
12
0

In [ ]:
def product_of_list(numbers):
    product = 1  # Initialize the product to 1
    for number in numbers:
        product *= number  # Multiply the product by each number in the list
    return product
my_list = [1, 2, 3, 4, 5]
result = product_of_list(my_list)
print(result)  # Output: 120

120

In [ ]:
def product_of_list(numbers):

    product = 1
    for number in numbers:
        product *= number
    return product
my_list = [1, 2, 3, 4, 5]
result = product_of_list(my_list)
print(result)

120

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
from functools import reduce

def product_of_list_reduce(numbers):
    if not numbers:
        return 1
    return reduce(lambda x, y: x * y, numbers)
my_list = [1, 2, 3, 4, 5]
result = product_of_list_reduce(my_list)
print(result)

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
def is_even(number):

  return number % 2 == 0
print(is_even(4))
print(is_even(7))

True
False

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
words = ["apple", "banana", "kiwi", "orange", "grapefruit"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'orange', 'grapefruit']

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
my_string = "Hello World!"
uppercase_letters = [char for char in my_string if char.isupper()]
print(uppercase_letters)

['H', 'W']

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
def fibonacci_sequence(n):

  if n <= 0:
    return []
  elif n == 1:
    return [0]
  else:
    fib_list = [0, 1]
    [fib_list.append(fib_list[-1] + fib_list[-2]) for _ in range(2, n)]
    return fib_list

# Get input from the user
n = int(input("Enter the number of Fibonacci numbers to generate: "))

# Generate and print the Fibonacci sequence
fibonacci_numbers = fibonacci_sequence(n)
print(fibonacci_numbers)

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
squares_dict = {x: x**2 for x in range(1, 6)}
print(squares_dict)

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = {k: v for k, v in zip(keys, values)}
print(my_dict)

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [6]:
cubes_dict = {x: x**3 for x in range(1, 6)}
print(cubes_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
numbers = [1, 2, 3, 4, 5]
def square(number):
  return number * number
squared_numbers = list(map(square, numbers))
print(squared_numbers)

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [5]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
def is_even(number):
  return number % 2 == 0
even_numbers = list(filter(is_even, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:

is_divisible_by_3_and_5 = lambda num: num % 3 == 0 and num % 5 == 0
number = int(input("Enter a number: "))
if is_divisible_by_3_and_5(number):
    print(f"{number} is divisible by both 3 and 5")
else:
    print(f"{number} is not divisible by both 3 and 5")

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [4]:
x= [1, 2, 3, 4, 5]
y = list(map(lambda x: x * 2, x))
y

[2, 4, 6, 8, 10]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

In [3]:
x=[1,2,3,4,5,]
x.remove(2)
x

[1, 3, 4, 5]

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`